body{
  background-color: lightblue;
}

.header{
background-color: rgb(44, 96, 163);
color: white;
padding: 25px;
text-align: center;
position: relative;
}

.topnav {
  overflow: hidden;
  background-color:rgb(44, 96, 163);
  
}

@media screen and (min-width: 480px) {
  body {
    background-color: lightblue;
  }
}

.img{
  position: absolute;
  right: 0px;
  border: 15px solid lightgray;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  font-weight: 900;
  border-style: rgb(44, 96, 163);
}

.topnav p {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: lightblue;
  color: white;
 
}

.flex-container {
  display: flex;
  background-color: rgb(44, 96, 163);
  animation-name: example;
  animation-duration: 4s;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}




.footer {
  background-color: rgb(44, 96, 163);
  padding: 10px;
  text-align: center;
  color: white;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
}

.indent {
  text-indent: 30px;
}

.list{
  font-family: Arial, Helvetica, sans-serif;


}




.animation {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0%   {background-color: lightgreen;}
  25%  {background-color: lightblue;}
  50%  {background-color: lightgray;}
  100% {background-color: lightpink;}
}



/*abtme{
  
  background-color: rgb(93, 178, 199);
  padding: 10px;
  display: none;
}

p:hover + .abtme {
display: block;

}*/

/* .header:hover { */
/* background-color: rgb(91, 91, 136); */

/* } */
